extends base

block content
  include partials/header.pug
  main.container
    -if(user)
      img(src=""+user.photo)
      h1.title Welcome #{user.displayName} !
      p #{user.email}
      a(href="/logout") Logout
    
    //- form(action="/picture/upload" method="POST" enctype="multipart/form-data")
    //-   input(type="file" name="image")
    //-   input(type="submit")
