extends base
block content
  include partials/header.pug
  main.container
    -if(message.length >0)
      .alert-container.center
        .alert.alert--warning
          |#{message}
    //-   //- .alert__exit &times;    
    //- .alert.alert--danger
    //-     |Danger
    //-     //- .alert__exit &times;
    //- .alert.alert--success
    //-         |Success
    //-         //- .alert__exit &times;
    //- .alert.alert--info
    //-         |Information
    //-         //- .alert__exit &times;
    .form-container.form-container-signup
      h1.form__title Sign up
      form.form(method='POST')
        input.form__input.text-center(type="text" name="displayName" placeholder="Name")
        input.form__input.text-center(type="email" name="email" placeholder="Email")
        input.form__input.text-center(type="password" name="password" placeholder="Password")
        input.form__input.text-center(type="password" name="password2" placeholder="Confirm password")
        input.form__submit(type="submit" value="Sign up")
