.alert-container{
  // background: #000;
  display: flex;
  margin-bottom: 0.5rem;
}
.center{
  justify-content: center;
}

.alert{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  // background: #888888;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  width: 300px;
  max-width: 300px
}
#alert__exit{cursor: pointer;}

.alert--warning{background-color: #FFCE54;}
.alert--danger{background-color: #ED5565;}
.alert--success{background-color:#37BC9B;}
.alert--info{background-color: #3199dc;}

.alert--warning,.alert--danger,.alert--info,.alert--success{
  animation: show 1.3s;
}

.showAnimation{animation: show 1.3s;}
.outAnimation{animation: out 1.3s;}


// ANIMATIONS

@keyframes out {
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes show {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
